<footer class="footer pt-5 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <h2>About Us</h2>
            <p>Pay your bills without delay</p>
            </div>
            <div class="col-sm-4">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                            <li><a href="#">Home</a><i class="fa fa-angle-right"></i></li>
                            <li><a  href="#">Dashboard</a><i class="fa fa-angle-right"></i></li>
                            <li><a  href="#">Subscription</a><i class="fa fa-angle-right"></i></li>
                            <li><a  href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
                        </ul>
            </div>
            <div class="col-sm-4 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                            name <br>
                        street <br>
                            country <br>
                            Phone: +91 1233455565 <br>
                            Email: <a href="#" class="">billkare@gmail.com</a><br>
                            Web: <a href="#" class="">www.billkare.in</a>
                        </address>

            </div>
        </div>
    </div>  
    <div class="copy">
        <div class="container">
            <a href="http://sourcelantics.com/">2022 &copy; All Rights Reserved | Designed and Developed by sourcelantics</a>
            
        
            <a><i class="fa fa-google-plus"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-facebook"></i></a>
        
        </div>
    
    </div>

</footer>
    