<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
<form action="{% url 'plaidlink:index' %}" method="post">
{% csrf_token %}
  <label>User name:</label><br>
  <input type="text" id="uname" name="uname" value="John"><br><br>
   <button id="link-button" style="background-color: white;border: #0A85EA;color: black;padding: 12px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">Submit</button>
</form>
</body>
</html>