
/* Sugan name */
.Suganname{
  /* color: rgb(201, 119, 11); */
  color: rgb(3, 112, 39);
  font-size: 60px;
  padding: 16px 24px;
  font-family: arial;
  text-transform:capitalize;
 
}

   /*** Navbar ***/
   .navbar{
    background-color:rgb(253, 251, 247);
   }
 .navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding: 16px 50px;
    font-weight: 900;
	color: rgb(18, 19, 18);
    align-items: center;
    font-size: 18px;
    -webkit-transition: color 2s;
    transition: color 2s;
      
    
}
.navbar-light {
    border-bottom: 0;
  
}

@media (min-width: 992px) {
    
    .navbar .nav-item:hover {
        transform:scale(1) ;
        z-index:100;
        transition: 0.5s;
        opacity:2;
        
    }
   
}

.navbar-light .navbar-nav .nav-link.active
{
     color: rgb(5, 110, 14);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
        color: rgb(18, 19, 18);
        font-size: 16px;
        
     
    }

    .navbar-light .navbar-nav {
        border-bottom: 1px solid rgba(95, 96, 97, 0.425);
        height:auto;
    
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    /* color:rgb(116, 114, 114); */
   
    -webkit-transition: color 2s;
         transition: color 2s;
           
}
.navbar-light .sticky-top {
    top: -100px;
    transition: .5s;
}







