.da-slider{
	width: 100%;
	
	height: 100px;
	
	
	background-color: rgb(243, 245, 247);
	/* background: transparent url(/static/images/bg2.jpg)  no-repeat 0% 0%; */
}
.da-slide{
	
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	/* font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; */
	/* text-align: left; */
}


/* .da-slide h2,
.da-slide p,
.da-slide a,
.da-slide .da-img{
	position: absolute;
	opacity: 0;
	left: 110%;
}
.da-slider .da-slide h2,
.da-slider .da-slide p,
.da-slider .da-slide a
{
	left: 5%;
	opacity: 1;
} */
/* .da-slider .da-slide .da-img{
	left: 60%;
	opacity: 1;
	border-radius: 25px;
} */

.da-slide h1{
	color:rgb(141, 140, 140);
       top: auto;
	   left:10px;
	font-size: 20px;
}



