/********** Template CSS **********/

   

:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
    
}
*{
	margin:0;
	padding:0;
 }
.latofont
{
    
  align-items: center;
  justify-content: center;
    font-family: 'Lato', sans-serif;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}
body{ 
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Lato;
      background-color:rgb(253, 251, 247);
      color: #3c4a5b;
      font-weight: 400;
      font-size: 1.22em;
      line-height: 1.5;
 
}
.customer  {
margin-bottom: 50px;
font-size:1em;
}

h1,h2,h3,h4,h5,h6,p { font-family: Lato;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
   
    margin-top: 1rem;
	height: 3rem;
	width: 13.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
    background-color: #428558;
    /* background-image: linear-gradient(to bottom, #eb8613 0%, #6b3f05bd 100%);  */
    color: #fff;
    outline: none;
    border: 0;
    padding: 5px;
    font-family: lato;
   
}
.btn:hover {
    transform:scale(1) ;
    z-index:100;
    transition: 0.5s;
    opacity:2;
    
}
.joinSugan{ border: 3px solid; display: inline-block;border-radius: 15px; color: #076426;}
.services{margin-top: 10px; align-items:center;}
.pls{background-color: #FFF; padding: 5px; margin-top: 5px;}
.pls-hd{ background-image: linear-gradient(to bottom, #585858 0%, #212121 100%); padding: 5px; color: #FFF; font-size: 18px; text-align: center; padding-top: 20px;}
.pls-hd b{font-size: 22px; color: #FFF;}
.plan-list li{ padding: 10px; border-bottom: 1px solid #ebebeb; text-align: center;list-style: none;}
.plan-list{margin: 0px; padding: 0px;}
.btn-black{  background-image: linear-gradient(to bottom, #585858 0%, #212121 100%);}
.dfdd1{background-image: linear-gradient(to bottom, #00abc9 0%, #1496b4 100%)}

.norit-pad{ padding-right: 0px;}
.csdffd img{width: 100%; margin-top: 47px;}

.row{margin: 0px; margin: 0px; }
.hid{display: none;}
.btn-ico{ padding: 5px; height: 25px; line-height: 4px; font-size: 12px;}
.texsgg small, b{ color: #808080;}
strike{color: #525252}
a:hover{text-decoration: none !important;}

/*  */
.container-fluid{padding: 0px; margin: 0px;}

.card{
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border-radius:2px;
    background-color: white;
}

.container{overflow: visible;}
/* ul li{list-style: none;} */
.hid{display: none;}
.no-padding{padding: 0px;}

a:hover{text-decoration: none !important;}
/*  */

#home{
    margin-top:auto;
    margin-bottom: auto;
    animation-name: slideInUp;
    
   
}
#home h1{
    color: rgb(41, 40, 39);
 
}
#home p{color:#808080;line-height: 1.5em;}
#home h1,h5{ line-height: 1.5em;}
#home ul li{
    color:#808080;
    line-height: 3em;
}
.img1{width: 350px; height: 600px;
    border-radius: 50px; 
   }
.img2{
    border-radius: 50px;
    width: 300px; height: 500px;
    padding: 10px;
    bottom:15px;
    position: sticky;
    top:15vh;
   
   
   }
.scrollimage{
  
   position:relative;
}
/* .backimage{
    width: 300px; height: 600px;
    border-radius: 50px; 
    background: url( '/static/images/Sugan2.jpg' ) ;
    background-size:cover;
    transition: 1000ms;
} */
.backimage{
   
    border-radius: 50px; 
    background: url( '/static/images/Sugan2.jpg' ) ;
    background-size:  200px 400px;
    background-position: 250px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 1000ms;
    
}


.wave{ background-image: url( '/static/images/wave-3.png' );background-position:250px;
    background-size: contain;
     background-repeat: no-repeat;}


section{
	width: 100%;
	min-height: 1px;
  
	}
.content{
    transition: 1000ms;
    width:100%;
	min-height:1px;
    margin-top:10%;
	
	}


/* table */
 .table tbody tr td {
    border: none;
}


/* box */
.box {
  
    margin: 0 0 30px;
    font-family: lato;
	background-color:rgb(247, 245, 245);
    border: solid 1px #e6e6e6;
    padding: 30px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  .accountsum .box {
    float: left;
    width: 33.33%;
    
    padding: 50px;
  }
  
  .accountsum .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/**card **/


.bill .card{
    width:auto;
    height: auto;
    margin-top:50px;  
}
.bill .card .card-header{
    background-color:transparent;
    
}
.bill .card a{
    float:right;
}
/**endcard **/
@media screen and (max-width: 600px) {
    .services{margin-top: 40px !important;}
}
/* hide in mobile screen */


  @media (max-width: 767px) {
   
    .card{
        width:auto;
        height: auto;
    }
    .bill .card{ width:auto;
        height: auto;}
    #fund_table{
        display: inline-flex;
        flex-direction: column;
    }
  }
  .mobile{
    display: none;
  }
  
  @media only screen and (max-width:960px){
    .mobile{
    display:block;
   }
   .mobileout{
    display:none;
   }
   }




/* swal alert */
.swal-wide{
    width: 400px !important;
    height: 200px !important;
    font-size: 1rem !important;
    border-radius: 5px!important;
    color: rgb(1, 20, 24)!important;
}
/* swal alert */
/* user forms */

/* userforms css */
/*** Footer ***/
footer {
    background: #151616f3 ;
	position:relative;
	width: 100%;
   	bottom:0px;
}
footer h2{color: #FFF; font-size: 20px;}
footer p{color: #FFF; text-indent: 25px; font-size: 13px;}
.link-list li {
    border-top: 1px solid #353535;
}
.link-list a {
    color: #eee;
    display: inline-block;
    font-size: 11px;
    padding: 6px 0;
    text-transform: uppercase;
}
.link-list li i {
    color: #bbb;
    float: right;
    margin-top: 10px;
}

address {
    color: #eee;
    font-style: normal;
    line-height: 1.42857;
    margin-bottom: 20px;
    margin-left: 50px;
}


.copy {
    background: #222 none repeat scroll 0 0;
    padding: 2px;
}
.copy a i {
    color: #fff;
    float: right;
    font-size: 24px;
    width: 50px;
}
.copy a {
    color: #fff;
    padding-top: 5px;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}




  

  
  
  