
.sidebar {
	
	
	position: fixed;
	z-index: 1;
	top:0px;
	left: 0;
	
	background-color:rgb(247, 245, 245);
	overflow-x: hidden;py
	padding-top: 16px;
  }
  .sidebar .menu{
	padding-top: 50px;
	
	
  }
  /* Style sidebar links */
  .sidebar .menu a {
	border-bottom: 1px solid #455A64;
	
	text-decoration: none;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	/* padding: 10px 20px; */
	padding-top: 50px;
	color: rgb(12, 12, 11);
	display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar .menu a:hover {
	color: #175e09;
  }
  .sidebar .menu a i,iconify-icon{
	margin-right: 16px;
  }
  /* Style the main content */
  
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  /* @media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar menu a {font-size: 18px;}
  } */

  @media screen and (max-height: 450px) , (max-width: 767px){
	.sidebar .menu a  {
		font-size:10px ;
		
	  }
	  
	.sidebar .menu
	{width:auto;
		flex-flow:row nowrap;
		display:flex;
		padding-top:0px ;
		margin-bottom: 10px;	
  }
  .sidebar{
	
	flex-direction:column;
	width: 100%;
	position: fixed;
	top:88vh;
	
	overflow: hidden;
  
  
   }
   .sidebar .menu a {padding-top: 10px ;
	float: left;
	align-items: center;
	 border-right: 1px solid white;
	}
	
}


  

