{% extends "base.html" %}
{%load static %}

{% block body %}
<div class="container h-100">
  <div class="bill">
      <div class="card mx-auto mt-7">
        <div class="card-header"> Hi, {{user.email}}</div>
        <div class="card-body">
           
            <div class="card-text mb-4">
              <label class="col-sm-7 " for="label1" >Upcomming bills<br>(Before Next Payday)</label>
              <button type="button" class="btn btn-primary btn-lg">$150</button>
            </div>

          <div class="card-text mb-4"> 
              <label class="col-sm-7" for="label2">Payment due from last month</label>
              <button type="button" class="btn btn-primary btn-lg">$50</button>    
          </div>
        </div>
      </div>

      <div class="card mx-auto">
        <div class="card-header">Fund Available <a href="#" class="btn btn-dark">paybills</a></div>
        <div class="card-body">
          <h5 class="card-title">Your Current Balance</h5>
          <p class="card-text h3 fw-bold text-primary">$ Balance</p>
        </div>
      </div>

      <div class="card mx-auto" >
        <div class="card-header">Payments</div>
        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="duedate" class="col-sm-4 col-form-label">Bill Due Date:</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="duedate" value="may 15th 2022">
              </div>
            </div>
            <div class="form-group row">
              <label for="payday" class="col-sm-4 col-form-label">Next Pay Day:</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="payday" value="may 10th 2022">
              </div>
            </div>
          </form>
          <p class="card-text mt-2">You Have 5 days for your Payday</p>
          <a href="#" class="btn btn-dark">Fund My Bill</a>
        </div>
      </div>
    </div>
  </div>
 {% endblock body %}