{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}

{% block body %}
<!-- <div class="row">
    <div class="col-lg-6"> -->
     <div class="container " > 
        

                    <div class="container-fluid">
            
                        
                        <!-- Icon Cards-->
                        <div class="row">
                            <h3>Your Loan Summary</h3>
                     <div class="col-sm-3" >    
                    <canvas id="loan_piechart"></canvas>
                     </div>
                     <!-- <div class="col-sm-6">    
                        {% for i in data %} 
                        {{i|safe}}
                        {% endfor %}
                         </div> -->

                     
                </div>
                <div class="container-fluid"><div class="row">
                    <h3>Your Account Summary</h3>
                    <div class="col-sm-5">    
                        <canvas id="account_chart" ></canvas>
                     </div>
                    
               </div></div>
                
            </div>
        
    
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
<script>
    
      Chart.register(ChartDataLabels);          
                    var loan_chart = {
                            plugins: [ChartDataLabels],
                            type: 'pie',
                            data: {
                                datasets: [{
                                    data: ['{% for i in data %} {{i|safe}}','{% endfor %}' ],
                                    backgroundColor:['rgba(54, 162, 135, 1)','rgba(25, 206, 86, 1)','rgba(211, 192, 192, 1)'],
                                    // borderColor: ['rgba(54, 162, 135, 1)','rgba(25, 206, 86, 1)','rgba(211, 192, 192, 1)'],
                                    borderWidth: 1,
                                    label: 'Loan Details'
                                }],
                                labels:['{% for i in labels%}{{i|safe}}','{% endfor %}'],
                            },
                        options: {
                            
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                    };
                    
                    var account_chart = {
                            plugins: [ChartDataLabels],
                            type: 'bar',
                            data: {
                                datasets: [{
                                    data: ['{% for i in acc_data %}{{i|safe}}','{% endfor %}' ],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(255, 205, 86, 0.2)',
                                        
                                    ],
                                    hoverOffset: 4,
                                    label: 'Balance'
                                }],
                                labels:['{% for i in acc_labels%}{{i|safe}}','{% endfor %}'],
                            },
                           options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                    };
                    
                   
                    window.onload = function() {
                      var ctx1 = document.getElementById('loan_piechart').getContext('2d');
                      window.myPie = new Chart(ctx1, loan_chart);
                      var ctx = document.getElementById('account_chart').getContext('2d');
                      window.myPie = new Chart(ctx, account_chart);
                    };
                  </script>
 {% endblock body %}

