{% extends "user_base.html" %}
{%load static %}

{% block body %}
<div class="container h-100"> 
<div class="card mx-auto mt-7" id="excrow_1"  >
    <div class="card-body justify-content-center">
    
        <div class="card-text mb-4">
            <label class="col">*If you need funding from Catche, you will need to transfer the $ amount showed under “funding from yourself” to your escrow account in Catche. Catche will send the total planned payment amount (your contribution plus Catche’s funding) to your biller for you.
            </label>
        </div>
        <div class="card-text mb-4"stye="display:none" id="excrow">
        
            <label class="col"  >*The funding $ under “funding from Catche will be transferred from your bank account.(to Catche on date of your get your paycheck)

            </label>
        </div>
    
            <div  class="row mt-4">
                <h6 class="mb-4">Do you agree?</h6>
               <div class="col-sm-2">
                <a class="btn btn-success w-50 py-3" style="border-radius: 4px;" href="{% url 'view_Payment_summary' %}" >yes</a>
               </div>
               <div class="col-sm-2">
                <button class="btn btn-success w-50 py-3" style="border-radius: 4px;" id="no" onclick="enable()">No</button>
               </div>
            </div>

            </label>
        

    </div>
</div>
</div>

{% endblock body %}