
<!DOCTYPE html>
<html lang="en">
{%load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->
    <meta content="" name="keywords">
    <meta content="" name="description">
     <!-- Favicon -->
     
     <link href="images/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
 
  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
 
  <!-- Libraries Stylesheet -->
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{%static 'css/style.css' %}" rel="stylesheet">
    <link href="{%static 'css/navbarstyles.css' %}" rel="stylesheet">
    <link href="{%static 'css/slider.css' %}" rel="stylesheet">
   
  
</head>
<body style="background-color:white ;">
  
    
      <!-- Spinner Start -->
      <div id="spinner" class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->
 
      <!-- Topbar Start -->

        
   
<section>
    <nav class="navbar navbar-expand-lg bg-white navbar-light  fixed-top px-4 px-lg-5 py-lg-0" >
        <a href="{% url 'account_summary' %}"  class="navbar-brand d-flex align-items-center">
          <h1 class="m-0 catchename">Catche</h1>
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-3 py-lg-0">
            <a  href="{% url 'home' %}" class="nav-item nav-link">About Us</a>
            <a href="{% url 'services' %}" class="nav-item nav-link">Our Services</a>
            <!-- <a href="contact.html" class="nav-item nav-link">Contact Us</a>  -->
            <a href="{% url 'LoginPage' %}" class="nav-item nav-link">Login</a>
            <a href="{% url 'signup' %}" class="nav-item nav-link " style="border: 5px solid;"><b>Join Catche</b><i class="fa fa-arrow-right ms-3"></i></a>
          </div>
          <!-- <a href="{% url 'signup' %}"  class="btn">Join Catche<i class="fa fa-arrow-right ms-3"></i></a> -->
        </div>
  </nav>
  <div class="container-xxl py-5">
    <div class="row ">
      <div class="col-lg-6 mt-5" >
        <img src="{%static 'images\home3.png' %}" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-lg-6" id="home" >
      <div class="container" >
        <h1 class="display-5 mb-3">Get up to $1000* Instantly  to Pay the Bill.</h1>
        <h5 style="color: rgb(155, 153, 151);">Catche will help you by monitoring your transactions and detect any potential cash shortage in your bank account.</h5>
          <div class="col-sm-6 mt-5">
            <a href="{% url 'signup' %}" class="btn">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
          </div>
        
      </div>
      </div>
    </div>
</div>


 
</section>
<div class="container mt-3"> 
  <div class="text-center wow fadeInUp mb-4" data-wow-delay="0.1s">
    <h1 style="color: rgb(155, 153, 151);" >To help millions of consumers trying to achieve greater stability and control in their financial lives.
    </h1>
</div>
</div>
  <div class="container"> 
      <div class="row mt-5" >
        <div class="col-md-6 wow fadeInUp"  id="one" data-wow-delay="0.1s">
          <div id="image1">
            <img class="img" src="{% static 'images\home3.png' %}"  alt="" style="object-fit: cover;"/>
            
          </div>
        </div>
        <div class="col-md-6 wow fadeInUp" id="home" data-wow-delay="0.5s">
         
              <h1 class="display-6 mb-0" >
                ALL IN ONE PLACE
             </h1>
            <ul  class='h5'style="display: table; margin: 0 auto;">
              <li class="mt-3"> Manage budget…</li>
                <li class="mt-3">Pay your bills </li> 
                   <li class="mt-3" >Short Term Funding if needed </li> 
              <div class="col-md-12 mt-3">
                <a href="{% url 'signup' %}" class="btn">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
              </div>
            </ul>  
        </div>
    
    </div>
  
  
   
      <div class="row g-5" >
        <div class="col-md-6 wow fadeInUp" id="home" data-wow-delay="0.5s">
         
          <h1 class="display-6 mb-0">
            Pay your bills on time.
         </h1>
        <ul  class='h5'style="display: table; margin: 0 auto;">    
                  <li class="mt-3">No Interest !</li></br>
                   <li>No Credit Check !</li> </br>
                    <li>No More Late Fees !</li></br>
                   <li> No More Overdraft Fees !</li>  
        </ul> 
    </div>
        <div class="col-md-6 wow fadeInUp" id="two" data-wow-delay="0.1s">
          <div id="image2">
            <img class="img" src="{% static 'images\dashboardpage.png' %}"  alt="" style="object-fit: cover;"/>
            
          </div>
        </div>
        
      
    </div>


    
 
  <div class="row g-5" >
    
    <div class="col-md-6 wow fadeInUp" id="two" data-wow-delay="0.1s">
      <div id="image2">
        <img class="img" src="{% static 'images\home3.png' %}"  alt="" style="object-fit: cover;"/>
        
      </div>
    </div>
    <div class="col-sm-6 wow fadeInUp" id="home" data-wow-delay="0.5s">
     
      <h1 class="display-6 mb-0" >
        Close the gap between income and cashflow 


     </h1>
    <ul  class='h5'style="display: table; margin: 0 auto;">    
              <li class="mt-3">Magic way to build your credit  and avoid negative impact on your Credit Score
              </li></br>
            
    </ul> 
</div>
  
</div>
<div class="row g-5" >
  
  <div class="col-sm-6 wow fadeInUp" id="home" data-wow-delay="0.5s">
   
        <h1 class="display-6 mb-0" >
          Magic way to build your credit  and avoid negative impact on your Credit Score

       </h1>
      <!-- <ul  class='h5'style="display: table; margin: 0 auto;">    
                <li class="mt-3">Your Mortgage, Credit Cards, Loan payments and other category spend are centralized at one place.</li></li></br>
              
      </ul>  -->
  </div>
  <div class="col-md-6 wow fadeInUp" id="two" data-wow-delay="0.1s">
    <div id="image2">
      <img class="img" src="{% static 'images\select_bank.png' %}"  alt="" style="object-fit: cover;"/>
      
    </div>
  </div>
</div>
</div>
<div style="border-bottom: 2px;"></div>

<div class="services"> 
<div class ="container">
<div class=" pricing row">
  <div class="headline"><h2 style="font-size:20px;color: rgb(168, 117, 49);">Subscription Plans</h2></div>
    
    <div class="col-md-4">
      <div style="margin-top:5px;" class="card pls">
        <div class="pls-hd">
          <b>Free</b>
            <p>Zero Cost</p>
        </div>
        <ul class="plan-list">
                        <li class="new">Get Alerts</li>
                       <li class="new">Budgeting Tools</li>
                        <li class="new">Financial Insights </li> 
                        <li class="new">Bill Payment</li>    
                        <li class="new">Unlimited Payment Checking</li> 
                        <!-- <li class="new last">And many other features</li>    -->
                        
                                                            
                    </ul>
                  <!-- <div class="row center">
                  <a href="#">
                    <button class="btn mt-2 mb-2 new">Subscribe now</button></a>
                  </div> -->
      </div>
    </div>
      <div class="col-md-4">
      <div style="margin-top:5px;" class="card pls">
        <div class="pls-hd">
          <b>Basic</b>
            <p> <b>$ 9.99</b>/Month</p>
        </div>
        <ul class="plan-list">
                        <li class="new">Get Alerts</li>
                        <li class="new">Budgeting Tools</li>
                        <li class="new">Financial Insights</li>
                        <li class="new">Borrow up to $300 towards Bill Payment</li>
                        <li class="new last">And many other features</li>                                            
                    </ul>
                  <!-- <div class="row center">
                  <a href="#">
                    <button class="btn mt-2">Subscribe Now</button></a>
                  </div> -->
      </div>
    </div>
    <div class="col-md-4">
      <div style="margin-top:5px;" class="card pls">
        <div class="pls-hd">
          <b>Premium</b>
            <p> <b>$ 15.99</b>/Month</p>
        </div>
        <ul class="plan-list">
                        <li class="new">Get Alerts</li>
                        <li class="new">Budgeting Tools</li>
                        <li class="new">Financial Insights</li>
                        <li class="new">Borrow up to $1000 towards Bill Payment</li>
                        <li class="new last">And many other features</li>                                             
          </ul>
                  <!-- <div class="row center">
                  <a href="#">
                    <button class="btn mt-2">Subscribe Now</button></a>
                  </div> -->
      </div>
    </div>

  </div>
</div>
</div> 
    <!-- footer -->
     {% include 'includes/footer.html' %}

        
     <!-- JavaScript Libraries -->
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- Template Javascript -->
     <script src="{%static 'js/main.js' %}" type="text/javascript"></script>
   
     <!-- <script>
        $(window).on("scroll touchmove", function() 
    {
        if ($(document).scrollTop() >= $("#one").position().top && $(document).scrollTop() < $("#two").position().top  ) 
        {
            $('#image1').css('background-image', 'url("/static/images/home1.png")')
        };
        if ($(document).scrollTop() >= $("#two").position().top && $(document).scrollTop() < $("#three").position().top)
        {
            $('#image2').css('background-image', 'url("/static/images/home1.png")')
        };
       if ($(document).scrollTop() >= $("#three").position().top && $(document).scrollTop() < $("#four").position().top ) 
       {
            $('section').css('background-image', 'url("/static/images/home1.png")')
       };
       if ($(document).scrollTop() >= $("#four").position().top) 
       {
            $('section').css('background-image', 'url("/static/images/bank_america.png")')
       };
      
    });</script> -->
       
      </div>
          
</body>
</html>


 