{% extends "base.html" %}
{% block title %} Sugan Financial Login{% endblock %}

{%load static %}

{% block body %}

<div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      
                <!-- <div class="col-md-8  mt-4">
                  <img src="{%static 'images\photo1.jpg' %}" class="img-fluid" alt="Sample image">
                 
                </div>   -->
                <div class="col-md-6">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mt-4">Login</p>
                   {% include 'includes/alerts.html' %}
                            <form  action="{% url 'LoginPage' %}" method = "POST">
                              {% csrf_token %}
                                  {{ login_form.as_p}}
                                
                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 mt-2">
                                  <input type="submit" value="Login" class="btn "> </input>
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                  <a href="{% url 'forgotPassword' %}" class="float-right">Forgot password?</a>
                    
                                </div>
                                <div class="d-flex justify-content-center mb-5">
                                    Are you new user?<a href="{% url 'signup' %}">Register Here</a>
                                  </label>
                                </div>
                            </form>
                          </div>      
</div>
</div>
{%endblock %}