{% extends 'base.html' %}


{% block body %}

    <div class="bill">
        <div class="card mx-auto">
        <div class="card-body p-md-5">
        <h4 class="card-title mb-4 text-center">Our recommendation: <br>
        </h4>
        <h6>Consider increase your income
        </h6>
        <div class="card-text mb-4"> 
            <label class="col-sm-4" for="label3">Side job availability in your area
            </label>
            <input id="zip" name="zip" type="text" inputmode="numeric" placeholder="Zipcode" pattern="^(?(^00000(|-0000))|(\d{5}(|-\d{4})))$">
          </div>
          <h4>or<br></h4>
          <div class="card-text mb-4"> 
            <input type="checkbox" id="curent_location" name="current_location" onclick="popup()">
            <label for="current_location"> Use my current Location</label><br> 
          </div>
        </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    </div>

{% endblock body %}
