{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}

{% block body %}

<div class="row">
    <!-- <div class="col-lg-4">
        <img src="{% static 'images/pay in time.jpg' %}" alt="Image" />
    </div> -->
    <div class="col-lg-12">
        <div class="container h-100"> 
           
        <div class="bill">
        
                <div class="text-center mt-5">
                    <h3 class=" text-dark">Your Payment Information</h3>
                   
                </div>
                
<!-- sample -->
<div class="box">
    
    <form  action="{% url 'paymentInfo' %}" onsubmit="myFunction();" method="POST" id="form1" enctype="multipart/form-data" autocomplete="off" >
        {% csrf_token %}
        <div class="content py-3">
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="Bill">Bill</label>
                  <input id="Bill" type="text" value=" {{data.Loan_Type}}" disabled class="form-control">
                </div>
              </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">Firstname</label>
                <input id="firstname" type="text" value="{{request.user.first_name}}" disabled class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="lastname">Lastname</label>
                <input id="lastname" type="text"value="{{request.user.last_name}}" disabled class="form-control">
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="street">Monthly Payment</label>
                  <input id="street" type="text"  value="{{data.PaymentDue_amount|currency}}" disabled class="form-control">
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="accno">Account Number*</label>
                <input id="accno" type="text" name="accno" required class="form-control">
              </div>
            </div>
            
          </div>
          <!-- /.row-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="company">Company Name*</label>
                <input id="company" name="company" type="text" required class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="street">Street*</label>
                <input id="street" name="street" type="text" required class="form-control">
              </div>
            </div>
          </div>
          <!-- /.row-->
          <div class="row">
           
            <div class="col-md-6 col-lg-3">
              <div class="form-group">
                <label for="zip">ZIP*</label>
                <input id="zip" name="zip" type="text" required class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="form-group">
                <label for="state">State*</label>
                <input type="text" id="state" name="state" required class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="form-group">
                <label for="country">Country*</label>
                <input type="text" id="country" name="country" required class="form-control">
              </div>
            </div>
            
          </div>
          <!-- /.row-->
        </div>
      
 
<!-- sample -->
                    <div class="card-text mb-4">
                                    <label class="text-dark mb-4"><b>Delivery Options*:</b></label>
                                   
                    
                        
                        <input type="radio" id="regular"  class = "chk" name="check_box1" value="regular">
                        <label for="basic" >Regular (5-7 days) no additional cost</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="Expedited" class = "chk" name="check_box1" value="Expedited">
                        <label for="check_box1" >Expedited (3 days)  $5.99</label>
                            
                  
                    </div> 
                    <div  class="row mt-4">
                        
                       <div class="col-sm-6">
                        <a class="btn btn-success" style="border-radius: 4px;" id="back" href="{% url 'loan_payment' %}">Go Back</a>
                       </div>
                       <div class="col-sm-6">
                        <button type="submit" class="btn btn-success" style="border-radius: 4px;" id="viewsummary" >View Payment Summary</a>
                       </div>
                    </div>
                </form>  
                
            </div>
            </div>
            </div>
        </div>
  </div>
  <script>function myFunction() {
    alert("click")
    var frm = document.getElementsById('form1');
    alert(document.getElementById('regular').unchecked != true && document.getElementById('Expedited').unchecked != true)
   if ( document.getElementById('regular').unchecked != true && document.getElementById('Expedited').unchecked != true){
 
            alert("select Delivery mode!")
             frm.submit(false); // Submit the form;  
   }
   else{
    frm.submit(true);
   }
}
  </script>
{% endblock body %}