{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}
{% block title %} Sugan Financial {% endblock %}
{% block body %}


 <div class="container h-100">        
 <div class="row d-flex justify-content-center align-items-center ">
   <div class="col-sm-10">
        <div class="text-center mb-3"><h3 class=" text-dark">Your Payment Information</h3></div>
                
<!-- sample -->
     <div class="box">
      
      <form  action="{% url 'paymentInfo' %}" onsubmit="myFunction();" method="POST" id="form1" enctype="multipart/form-data" autocomplete="off" >
          {% csrf_token %}
          
            <div class="row mt-3">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="Bill">Bill</label>
                    <input id="Bill" type="text" value=" {{data.Loan_Type}}" disabled class="form-control">
                  </div>
                </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstname">Firstname</label>
                  <input id="firstname" type="text" value="{{request.user.first_name}}" disabled class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastname">Lastname</label>
                  <input id="lastname" type="text"value="{{request.user.last_name}}" disabled class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="street">Monthly Payment</label>
                    <input id="street" type="text"  value="{{data.PaymentDue_amount|currency}}" disabled class="form-control">
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="accno">Account Number*</label>
                  <input id="accno" type="text" name="accno" required class="form-control">
                </div>
              </div>
              
            </div>
            <!-- /.row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="company">Company Name*</label>
                  <input id="company" name="company" type="text" required class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="street">Street*</label>
                  <input id="street" name="street" type="text" required class="form-control">
                </div>
              </div>
            </div>
            <!-- /.row-->
            <div class="row">
            
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="zip">ZIP*</label>
                  <input id="zip" name="zip" type="text" required class="form-control">
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="state">State*</label>
                  <input type="text" id="state" name="state" required class="form-control">
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="country">Country*</label>
                  <input type="text" id="country" name="country" required class="form-control">
                </div>
              </div>
              
            </div>
            <!-- /.row-->
        
        
  
  <!-- sample -->
  <div  class="row">
          <div class="col-sm-12 mt-3 mb-4">
                      <label class="text-dark mb-4"><b>Delivery Options*:&nbsp;</b></label><br>
                          <input type="radio" id="regular"  class = "chk" name="check_box1" value="regular"  required="required">
                          <label for="basic" >Regular (5-7 days) no additional cost</label><br>
                          <input type="radio" id="Expedited" class = "chk" name="check_box1" value="Expedited">
                          <label for="check_box1" >Expedited (3 days)  $5.99</label>
           </div> </div>
            <div  class="row mt-4">
                   <div class="col-sm-6">
                          <a class="btn "  id="back" href="{% url 'loan_payment' %}">Go Back</a>
                        </div>
                        <div class="col-sm-6">
                          <button type="submit" class="btn "  id="viewsummary" >View Payment Summary</a>
                        </div>
                      </div>
    </form>  
  </div>
 </div>
 </div>
  </div>
  <script>function myFunction() {
   
   
    var frm = document.getElementsById('form1');
    alert(document.getElementById('regular').unchecked != true && document.getElementById('Expedited').unchecked != true)
   if ( document.getElementById('regular').unchecked != true && document.getElementById('Expedited').unchecked != true){
 
            alert("select Delivery mode!")
             frm.submit(false); // Submit the form;  
   }
   else{
    frm.submit(true);
   }
}
  </script>
{% endblock body %}