{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}

{% block body %}

<div class="row">
    <div class="col-lg-4">
        <img src="{% static 'images/pay in time.jpg' %}" alt="Image" />
    </div>
    <div class="col-lg-8">
        <div class="container h-100"> 
            {% if registered %}
            <h1 style="color:rgb(138, 14, 86)">Currently have no Payment summary</h1>
           
        {% else %}
        <div class="bill">
            <div class="card align-items-center mx-auto mt-7">
                <div class="text-center">
                    <h3 class=" text-dark">Payment Summary</h3>
                   
                </div>
                <div class="card-body">
                 
                    <div class="card-text mb-4">
                        <label for="bill" class="col-sm-7"> Bill</label>
                        <label id="bill" "> {{data.Loan_Type}}</label>
                        <!-- <input type="text" id="fname" name="firstname" value=""> -->
                    </div>
                    <div class="card-text mb-4">
                            <label for="due_amount" class="col-sm-7">Total Due Amount</label>
                            <label id="due_amount"> {{data.PaymentDue_amount|currency}}</label>
                    </div>
                     <div class="card-text mb-4">
                                <label for="plan_pay" class="col-sm-7">Your planned payment </label>
                                <label id="plan_pay" >{{data.Planned_payment|currency}}</label>
                     </div>
                    <div class="card-text mb-4">
                                    <label for="your_pay" class="col-sm-7">Your payment</label>
                                    <label id="your_pay" >{{data.user_payment|currency}}</label>
                    </div> 
                    <div class="card-text mb-4">
                                    <label for="catche_fund" class="col-sm-7">Funding from Catche</label>
                                    <label id="catche_fund" >{{data.catche_fund|currency}}</label>   
                    </div> 
                    <div class="card-text mb-4">
                                    <label for="return_date" class="col-sm-7">Fund return date</label>
                                    <label id="return_date" >{{data.fund_return_date}}</label>
                    </div>   
                    <div class="card-text mb-4">
                                    <label for="return_amt" class="col-sm-7">Fund return amount</label>
                                    <label id="return_amt" >{{data.fund_return_amount|currency}}</label>
                    </div>   
                            
                   
                    <div  class="row mt-4">
                        
                       <div class="col-sm-6">
                        <a class="btn btn-success " style="border-radius: 4px;" id="confirm" href="{% url 'PaymentHistory' %}">Confirm Your Payment</a>
                       </div>
                       <div class="col-sm-6">
                        <button class="btn btn-success" style="border-radius: 4px;" id="cancel1" onclick="cancel1()"  >Cancel Payment</button>
                       </div>
                    </div>
                </div>
            </div>

            </div>
            </div>
        </div>
        {% endif %}
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script>$("#confirm").click(function() {
    Swal.fire({
                                    title:"Thank You!",
                                    text: "You confirmed you payment",
                                    customClass: 'swal-wide',
                                    confirmButtonText: 'ok',
                                    timer: 90000,
                                    });
                                   
        e.preventDefault();
        // $(this).hide();
        $.ajax({
            url:"{% url 'PaymentHistory' %}", 
        });
    
});

    function cancel1() {
                    Swal.fire({  
                        title: 'Do you want to cancel Payment?',  
                        showDenyButton: true,  showCancelButton: true,  
                        confirmButtonText: `yes`,  
                        // denyButtonText: `Don't save`,
                        }).then((result) => {  
                            /* Read more about isConfirmed, isDenied below */  
                            if (result.isConfirmed) {    
                                Swal.fire('canceled!', '', 'success') 
                                window.location.href="{% url 'cancelPayment' %}"
                            } else if (result.isDenied) {    
                                // Swal.fire('Changes are not saved', '', 'info')  
                            }
                        });
};



</script>
{% endblock body %}