
{% extends "cardtemplate.html" %}
{%load static %}

{% block content %}
<!---User Signup Form-->
    
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                   
                    <!-- <h5>{{user.email}},<br>Thank you for Registering.<br></h5> -->
                   {% include 'includes/alerts.html' %}
                  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register with us</p>
  
                  <form class="mx-1 mx-md-4" action="{% url 'signup' %}" method="POST" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                   
                    <div class="row g-3 ">
                       <table>
                          {{ user_form.as_table}}
                        </table>
                       
                          <div class="form-check d-flex justify-content-center mb-5">
                            <input class="form-check-input me-2" type="checkbox" required name="terms" id="terms" />
                            <label class="form-check-label" for="terms">
                              I agree all statements in <a href="#!">Terms of service</a>
                            </label>
                          </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">signup</button>
                        </div>
                  
                    </div>
                  </form>
              
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    <img src="{%static 'images\signup.jpg' %}" class="img-fluid" alt="Sample image">
                </div>
               
         
{%endblock %}           

