{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}

{% block body %}

<div class="container px-3 "> 
  <div class="row justify-content-center align-items-center ">
  <div class="col-sm-10">
  <div class="card-body mb-5">
      {% if messages %}
      <h3>Hi, {{user.first_name}} Congrats Your dont have any Payments!</h3>
      {% else %}
          <h4 >Hi, {{user.first_name}}</h4>
                <p class="col-md-7 mb-4" for="label3">Your Upcoming Payments:</p>
 
          {%if paid %}
          {%else%}
           <div class="mb-4">
            <table id="example"> 
                <tr ><th >Loan Type</th><th>Payments Due</th><th>Due date</th><th>days more</th></tr>
                {% for i in data1 %} 
              
                <tr ><td>
                
                    <label class="col-md" for="check_1" > {{i.Loan_Type}}</label>
                    </td>
                    <td>
                        <label class="col-md" name='dueamount' id="due_amount_{{ forloop.counter }}" for="check_1"> {{i.PaymentDue_amount}}</label>
                    </td>
                    <td id="date_{{ forloop.counter }}">
                      <!-- <input type="text" name='counter' id="counter" value=" {{i.Loan_Type}}"> -->
                      <label class="col-md" name="duedate" id="due_date_{{ forloop.counter }}" for="check_1"> {{i.Due_date}}</label>
                  </td>
                  <td>
                    <label class="col-md" id="days_more_{{ forloop.counter }}" for="check_1"> {{i.days_more}}</label>
                </td>
                
                <!-- <td> <button class=" col-sm-3 btn" style="border-radius: 4px;" id="edit_{{forloop.counter}}" >Edit</button></td> --> 
                </tr>
                {%endfor%} 
            </table>
          
            <input type="hidden" name='loopcounter' id="loopcounter" value="{{data1|length}}">
           
        </div>
        {% include 'includes/alerts.html' %}
        {%if upload %}
              <div class="card-body mb-5">
                      <div class="col-sm-6" id="update">
                          
                      </div>
                      
                      <div  class="row " id="conformloan">
                        <h6 class="mb-4">Does it sounds Correct?</h6>
                      <div class="col-sm-3">
                        <button class="btn " id="yes"  onclick="disable()">Yes,Correct.</button>
                      </div>
                      
                      <div class=" mx-2 col-sm-3">
                        <button class="btn "  id="no" onclick="enable()">No,I need to edit</button>
                      </div>
                    </div>     
            </div>
          
          <div class="card col-md-6 ">
            <form class="px-3 mt-3"  id='stmt_form'  method = "POST"  enctype='multipart/form-data'>
              {% csrf_token %}
                
              {% include 'includes/alerts.html' %}
                <div class="px-3 ">
                  {{ form.as_table}}
                 
                </div>
                <input type="submit" value="Upload" id="stmt_upload" class="btn mb-3" onclick="submitstmtform()"> </input>
            </form>
            </div>
      {% endif %}
          <div class="card-text mt-5 mb-4"> 
            <label class="col-md-7" for="label3">Your current bank balance</label>
            
              <input type="button" id="balance"  value="{{current_balance}}">    
          </div>
          <div class="card-text mb-4"> 
            <label class="col-md-7" for="label2">Based on your transaction history, Your estimated spend before next payday is 
            </label>
            <input type="button"  id="estimatedspend" name="estimatedspend" value='{{data.estimated_balance}}'>   
            <div class="card-text mt-2">
                  <input type="checkbox" id="loan_correct" name="correct" value="correct" checked>
                  <label for="correct"> That Sounds Correct</label><br>
                   
                  <input type="checkbox" class="mt-4" id="checkbox_2" name="Addtional_spend" value="Addtional_spend" onclick="popup()">
                  <label for="Addtional_spend"> No,My Estimated Spend would be</label><br> 
           </div>
           <div class="col-md-7"  id="checkBundle" style="display:none;">
            <label for="addtionalspend"><b>Estimated spend:</b></label>
            <input type="text" class="mt-2" name="addtionalspend" id="txtestimatedspend" value="0" required onchange="totalamount()"><br>
          </div>
        </div>
       
        
          
        <form method="post" id="task-form">
              {% csrf_token %}
            <label class="col-sm-7">Your potential shortage before next paycheck is
            </label>
              <input type="text" id="shortage" name="shortage" value="{{data.shortage_bill_amount}}"disabled> 
              <!-- <input type="submit"  class="btn " style="border-radius: 4px;display:none;float:right;"  id="update_shortage" value="update"></button> -->
        </form>
      
      
        {% if messages %}
        <div class="col-md-7" id="btnfundmybill" style=" display:none;" >
          <a href="{% url 'check_membership' %}"  class="btn disabled">Fund my bill</a>  
        </div>
          {% else %}
        <div class="col-md-7" id="btnfundmybill" style="display: flex;justify-content: center;" >
          <a href="#"  class="btn ">Fund my bill</a>  
      </div>
          {%endif%}
      {%endif%}
      {%endif%}
    </div>
  </div></div></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
    var checkBox=document.getElementById('checkbox_2');
    var $j = jQuery.noConflict();
    //  Edit loan
    var value=$('#loopcounter').val();
   
   function disable(){
              $("#conformloan").css("display","none");
             }
   function enable()
                      {
                       
                        for(var i=1;i<=value;i++){
                            // alert(("#due_amount_"+i)) 
                            $( "#due_amount_"+i ).replaceWith( function() {
                                return "<input type=\"text\"  id=\"due_user_amt_"+i+"\"  value=\"" + $( this ).html() + "\" />";
                                    });
                                   
                             $("#due_date_"+i).replaceWith( function() {
                                   
                                    return "<input type='text' name='duedate' id=\"due_user_date_"+i+"\" onchange=\"getdate(this,"+i+")\" class=\"datepicker\" value=\"" +$( this ).html() + "\" />";
                                   }); 
                                  // alert($("#due_user_date_"+i).val()) 
                                 
                            // $( "#days_more_"+i).html(0);
  
                        }
                           
                            $(".datepicker").each(function () {
                                                    $j(this).datepicker({ dateFormat: 'yy-mm-dd' });
                                                    
                                                  });        
                            $("#conformloan").hide();
                            $("#update").append($('<button class="btn" id="update" style="float:right;" onclick="disable();" >update</button>'));

                      }
                
  function getdate(dat,inc){
                          
                           var date1 = new Date();
                           var date2 =new Date(dat.value);
                            // To calculate the time difference of two dates
                           var Difference_In_Time =Math.abs(date1.getTime() - date2.getTime());
                         // // To calculate the no. of days between two dates
                           var Difference_In_Days = Math.ceil(Difference_In_Time / (1000 * 3600 * 24));
                           $( "#days_more_"+inc).html(Difference_In_Days);
                           return
                          }
$( "#stmt_form" ).on( "submit", function(e){
      e.preventDefault();
      var dataString =new FormData($('#stmt_form').get(0));;
    
      $.ajax({
          type: "POST",
          url:"{% url 'transaction_details' %}",
          enctype: 'multipart/form-data',
          data: dataString,
          cache: false,
          processData: false,
          contentType: false,
          success: function(response) {
             window.location.href="#";
           
                  Swal.fire({
                                    title:"Thank You!",
                                    text: "Your Account Statement Uploaded Successfully!",
                                    customClass: 'swal-wide',
                                    confirmButtonText: 'ok',
                                    timer: 90000,
                                    });
                  // document.getElementById("update").style.display="none";
 // $('#stmt_form').css("display","none");
             
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
              
                Swal.fire({
                                    title:"Upload Failed",
                                    text: "Please,Upload pdf formated file!",
                                    customClass: 'swal-wide',
                                    confirmButtonText: 'ok',
                                    timer: 90000,
                                    });
                           }
                
                });
    
                return false;    
      });


$("#update").click(function(e){

           var values=get_user_data();
           var user_due_amt=values[0];
           var user_due_date=values[1];
           var days_more=values[2];
            // loan_stmt=$('#loan_stmt').val();
            
            function get_user_data()
            {
              // alert("getuserdata"+value)
              var user_due_amt=[];
              var user_due_date=[];
              var days_more=[];
              for(var i=1;i<=value;i++){
                user_due_date.push($("#due_user_date_"+i).val());
                user_due_amt.push($("#due_user_amt_"+i).val());
	              days_more.push($("#days_more_"+i).text());
                }
                return [user_due_amt,user_due_date,days_more];
            }
            // alert(user_due_amt);
            // var frm = document.getElementsById('stmt_form');
            // frm.submit(true);
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:"{% url 'update_loan' %}",
                enctype: 'multipart/form-data',
                data:
                {   
                    user_due_amt1:user_due_amt,
                    user_due_date1:user_due_date,
                  
                    days_more1: days_more,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(){

                  window.location.href="#";
                  Swal.fire({
                                    title:"Thank You!",
                                    text: "Your Loan Details Updated Successfully!",
                                    customClass: 'swal-wide',
                                    confirmButtonText: 'ok',
                                    timer: 90000,
                                    });
                  document.getElementById("update").style.display="none";
                  
                    
                    }
                })
              
            });
            
 
  function popup() {
       var popwindow = document.getElementById("checkBundle");
       
       var shortagevalue;
       if (checkBox.checked == true) {
                $("#loan_correct").prop('checked', false);
                $("#loan_correct").prop('disabled',true);
                // $(this).prop('checked', true);
              
           popwindow.style.display = "block";
           document.getElementById("txtestimatedspend").value=0;
           document.getElementById("txtestimatedspend").oninput = function() {myFunc()};
          //  $("input[name='addtionalspend']").oninput(function(){
            function myFunc() {
                  var value=parseInt(document.getElementById("txtestimatedspend").value);
                  var value2=parseInt(document.getElementById("estimatedspend").value);
                  var bal3=parseInt(document.getElementById("balance").value);
                  shortagevalue =(value - bal3);
                  // document.getElementById("estimatedspend").value=value
                  if (shortagevalue > 0){document.getElementById("shortage").value =shortagevalue; }
                  else{document.getElementById("shortage").value =0}
            }
          //  });
      } else {
            
            $("#loan_correct").prop('checked', true);
            $("#checkbox_2").prop('checked', false);
            popwindow.style.display = "none";
            document.getElementById("shortage").value="{{data.shortage_bill_amount}}";
            document.getElementById("estimatedspend").value= '{{data.estimated_balance}}';
            document.getElementById("update_shortage").style.display="none";  
        }
      
   };

 
   $("#btnfundmybill").click(function(e){

      let estimatedspend= $("#txtestimatedspend").val() ;
       if(estimatedspend==0){estimatedspend='{{data.estimated_balance}}'}
      //  alert(estimatedspend)
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:"{% url 'update_shortage' %}" ,
            data:
            {   
                txtestimatedspend:estimatedspend,
                shortage:$("#shortage").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
              window.location.href="{% url 'check_membership' %}";
              $("#loan_correct").prop('checked', true);
               $("#checkbox_2").prop('checked', false);
               document.getElementById("checkBundle").style.display="none";
                 
                    }
            })
          
    });

       
  </script>
 {% endblock body %}