{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}

{% block body %}

<div class="container"> 
  <div class="bill">
 
      <div class="card mx-auto mt-7 border-right">
        <!-- <h3>Good day {{user.first_name}}</h3> -->
        <div class="card-header"> <h4>Good Day {{user.first_name}}</h4></div>
       
        <div class="card-body">
          {% if messages %}
            {% include 'includes/alerts.html' %}
          {% else %}
         
           <div class="card-text mb-4"> 
            <label class="col-md-7" for="label3">Your current loans:</label>
               
          </div>
           <div class="card-text mb-4">
            <table id="example"> 
                <tr class="mb-4"><th>Loan Type</th><th>Payments Due</th><th>Due date</th><th>days more</th></tr>
                {% for i in data1 %} 
                <tr><td>
                    <!-- <input type="radio" id="check_1" name="check_box1" value="{{i.Loan_Type}}"> -->
                    <label class="col-md" for="check_1" > {{i.Loan_Type}}</label>
                    </td>
                    <td>
                        <label class="col-md" for="check_1"> {{i.PaymentDue_amount}}</label>
                    </td>
                    <td>
                      <label class="col-md" for="check_1"> {{i.Due_date}}</label>
                  </td>
                  <td>
                    <label class="col-md" for="check_1"> {{i.days_more}}</label>
                </td>
                </tr>
                {%endfor%} 
            </table>
        </div>
           {% endif %}

          <div class="card-text mb-4"> 
            <label class="col-md-7" for="label3">Your current bank balance</label>
              <input type="button" id="balance"  value="{{data.balance}}">    
          </div>
          <div class="card-text mb-4"> 
            <label class="col-sm-7" for="label2">Based on your transaction history, Your estimated spend before next payday is 
            </label>
            <input type="button"  id="add_amount" name="add_amount" value="{{data.estimated_balance}}">   
            <div class="card-text mt-2">
                  <input type="checkbox" id="loan_correct" name="correct" value="correct">
                  <label for="correct"> That Sounds Correct</label><br>
                   
                  <input type="checkbox" class="mt-4" id="checkbox_2" name="Addtional_spend" value="Addtional_spend" onclick="popup()">
                  <label for="Addtional_spend"> No,I may have more expenses</label><br> 
           </div>
           <div class="mx-auto"  id="checkBundle" style="display:none;float:right">
            <label for="addtionalspend"><b>Estimated spend:</b></label>
            <input type="text" class="mt-2" name="addtionalspend" id="extra_amount"  required onchange="totalamount()"><br>
          </div>
        </div>
        </div>
      </div>
    
      <div class="card mx-auto">
        <div class="card-body">
          <div class="card-footer">
            <form method="post" id="task-form">
              {% csrf_token %}
            <label class="col-sm-7">Your potential shortage before next paycheck is
            </label>
              <input type="button" class="btn btn-light text-dark btn-lg" id="shortage" name="shortage" value="{{data.shortage_bill_amount}}"> 
              <input type="submit"  class="btn btn-secondary" style="border-radius: 4px;display:none;float:right;"  id="update_shortage" value="update"></button>
        </form>
      </div>
        </div>
        {% if messages %}
        <div class="col-sm-7" id="btnfundmybill" style="float:right;" >
          <a href="{% url 'check_membership' %}"  class="btn btn-dark w-50 py-3 disabled" style="border-radius: 4px;">Fund my bill</a>  
        </div>
          {% else %}
        <div class="col-sm-7" id="btnfundmybill" style="float:right;" >
          <a href="{% url 'check_membership' %}"  class="btn btn-dark w-50 py-3" style="border-radius: 4px;">Fund my bill</a>  
      </div>
      {%endif%}
      </div>
      
      
      
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script>
     function popup() {
       var popwindow = document.getElementById("checkBundle");
       var checkBox=document.getElementById('checkbox_2');
       var shortagevalue;
       if (checkBox.checked == true) {
           popwindow.style.display = "block";
           document.getElementById("extra_amount").value=0;
           document.getElementById("update_shortage").style.display="block";
      } else {
            popwindow.style.display = "none";
            document.getElementById("update_shortage").style.display="none";
        //     shortagevalue=(parseInt(document.getElementById("add_amount").value) - parseInt(document.getElementById("balance").value));
        //     if (shortagevalue > 0){document.getElementById("shortage").value =shortagevalue; 
            
        //   }
        //     else{document.getElementById("shortage").value =0}
            
        }
      
   };
   function totalamount()
   {
    var checkBox=document.getElementById('checkbox_2');
    var value=parseInt(document.getElementById("extra_amount").value);
    var value2=parseInt(document.getElementById("add_amount").value);
    var bal3=parseInt(document.getElementById("balance").value);
    
    if (checkBox.checked == true) {
      // if (value2 == 0) 
      shortagevalue =(value - bal3);
      document.getElementById("add_amount").value=value
      if (shortagevalue > 0){document.getElementById("shortage").value =shortagevalue; }
      else{document.getElementById("shortage").value =0}
    }
    // else
    // {
    //   document.getElementById("shortage").value =(value2 - bal3);
    // }
   }
   $(document).on('submit','#task-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:"{% url 'update_shortage' %}" ,
            data:
            {   
                extra_amount:$("#extra_amount").val(),
                shortage:$("#shortage").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                  // alert('Saved');
                  Swal.fire({  
                        title: 'upadated',  
                        //  showCancelButton: true,  
                        confirmButtonText: `ok`,  
                        // denyButtonText: `Don't save`,
                        }).then((result) => {  
                            /* Read more about isConfirmed, isDenied below */  
                            if (result.isConfirmed) {    
                                
                                window.location.href="#"
                            } else if (result.isDenied) {    
                                // Swal.fire('Changes are not saved', '', 'info')  
                            }
                        });
                    }
            })
        });
       
  </script>
 {% endblock body %}