{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}
{% block title %} Sugan Upgrade Membership {% endblock %}
{% block body %}
<div class="container h-100"> 
    <div class="row justify-content-center align-items-center ">
    <div class="col-sm-10">
    <div class="bill">
        
        <div class="card align-items-center mx-auto mt-7">
            <div class="text-center mt-5">
               <h4 > <p>You choose Basic membership that provide upto $300 funding.</p>
                    <p>Your potential shortage is {{data|currency}} shortage.</p></h4>
                
            </div>
            <div class="card-body">
                <form method="POST" id='form1' action="{% url 'shortage_membership' %}" enctype="multipart/form-data" >
                    {% csrf_token %}
               <h5 class=" text-danger"> <div class="card-text mb-4">
                    <input type="checkbox" id="premium" name="check_box1" class = "chk" value="Premium">
                    <label class="col-sm " for="check_2" >Upgrade to Premium Membership ($15.99 per month) to cover up to $1000?
                    </label>
                </div>
                <div class="text-center">
                    <h5>OR</h5> 
                </div>
                
                <div class="card-text mb-4">
                    <input type="checkbox" id="basic" class = "chk" name="check_box1" value="Basic">
                    <input type="hidden" name="Procced" value="Basic"/>
                    <label class="col-sm" for="check_3" >Proceed with Basic
                    </label>
                </div>
               </h5>
            </form>
             
            </div>
        </div>

        </div>
        </div></div></div>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script type="text/javascript">
              $("input[name='check_box1']").change(function()
        {
                value=$("input[name='check_box1']:checked").val();
                
                $(".chk").prop('checked', false);
                $(this).prop('checked', true);
              
            if (value==='Premium'){
                Swal.fire({
                                    title: 'warning!',
                                    text: 'You are eligible for funding all your bills up to  $1000 dollars with no additional fees',
                                    // customClass: 'swal-wide',
                                    confirmButtonText: 'ok',
                                    confirmButtonColor: '#428558',
                }).then((result) => {  
                            /* Read more about isConfirmed, isDenied below */  
                            if (result.isConfirmed) {    
                                
                                $('#form1').submit();
                            } else if (result.isDenied) {    
                                // Swal.fire('Changes are not saved', '', 'info') 
                                
                            }
                                    });
                // window.location.href= $(this).data("target")
            }
            else{
                // alert("You are eligible for funding all your bills up to  $200 dollars with no additional fees");
                Swal.fire({
                                    title: 'warning!',
                                    text: 'You are eligible for funding all your bills up to  $300 dollars with no additional fees',
                                    // customClass: 'swal-wide',
                                    confirmButtonText: 'ok',
                                    confirmButtonColor: '#428558',
                }).then((result) => {  
                            /* Read more about isConfirmed, isDenied below */  
                            if (result.isConfirmed) {    
                                
                                $('#form1').submit();
                            } else if (result.isDenied) {    
                                // Swal.fire('Changes are not saved', '', 'info') 
                                
                            }
                                    });
          
        }
        });
        
        </script>
{%endblock %}