{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}
{% block title %} Sugan Membership {% endblock %}
{% block body %}

    <div class="container h-100"> 
    <div class="row justify-content-center align-items-center ">
     <div class="col-sm-10">
 
        
        <div class="card align-items-center mx-auto ">
            <div class="text-center  mt-5">
                <h3 class=" text-primary">Your potential shortage is {{data.shortage_bill_amount|currency}}</h3>
                
            </div>
            <div class="card-body ">
            
                <div class="card-text mb-4">
                <p class="col-sm-12"><strong>Basic membership:</strong> Sugan will bridge gap the shortage of your bill up to $300 with a guaranteed minimum of $50.</p>
                </div>
                <div class="card-text mb-4">
                    <p class="col-sm-12"><strong>Premium membership:</strong>Sugan will bridge gap the shortage of your bill up to $1000 with a guaranteed minimum of $300.</p>
                    </div>
                    <hr>
               <form  action="{% url 'add_membership' %}" method="POST" id="form1" enctype="multipart/form-data" autocomplete="off" >
                        {% csrf_token %}
                <div class="card-text mb-4">
                    <input type="radio" id="premium" name="check_box1" class="chk" value="Premium">
                    <label for="premium">Upgrade to premium membership ($15.99 per month) to cover up to $1000?
                    </label>
                </div>
                <div class="text-center">
                    <h5>OR</h5> 
                </div>
                <div class="card-text mb-4">
                    <input type="radio" id="basic" class = "chk" name="check_box1" value="Basic">
                    <label class="col-sm" for="basic" >Upgrade to our basic  membership ($9.99 per month) to cover up to $300?
                    </label>
                </div>
                <div class="text-center">
                    <h5>OR</h5> 
                </div>
                <div class="card-text mb-4">
                    <input type="radio" id="check_3" class = "chk" name="check_box1" value="no_need" data-target="{% url 'transaction_details' %}">
                    <label class="col-sm" for="check_3" >I don’t need funding, go back to my home screen
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-success" id="button_click" style="border-radius: 4px; float:right;">Next</button>
                </div>
            </form>
            </div>
            
        </div>

      
        </div></div></div>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script type="text/javascript">
              $("input[type='radio'].chk").change(function()
        {
                value=$('.chk:checked').val();
                if (value==='no_need'){window.location.href= $(this).data("target")}      
            
        });
        $("#button_click").click(function() {
                    // alert("button clicked")
                    var a = $("input[type='radio'].chk");
                    
                    let checked=a.filter(":checked").length
                    // alert(checked)
                    if( (checked < 1))
                    {
                        // Swal.fire({
                        //             title: 'warning!',
                        //             text: 'You need to select one membership',
                        //             customClass: 'swal-wide',
                        //             confirmButtonText: 'ok',
                                   
                        //             });
                        $('#form1').submit(false);
                         location.reload(true)
                    }
                    $('#form1').submit(true);
                    
                });
       

       
        </script>

{%endblock %}