{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}

{% block body %}

    <div class="container h-100"> 
    <div class="row justify-content-center  align-items-center">
    <div class="col-sm-10">
        <div class="col-sm-12">
            <div class="card align-items-center">
                <div class="text-center mt-3">
                    <h4 class="text-danger">SUBSCRIPTION</h4>
                    <h5>You currently has <b class="text-primary">{{ membership}}</b> membership</h5>
                    <input type="hidden" id="membership" value="{{membership}}"/>
                </div>
                <div class="card-body">
                    <form  action="{% url 'update_membership' %}" method="POST" id="form1" enctype="multipart/form-data" autocomplete="off" >
                        {% csrf_token %}
                    <div class="card-text mb-4">
                    <input type="checkbox" id="basic" class = "chk" name="check_box1" value="Basic">
                    <label for="basic" >Basic membership: 9.99/Month </label>
                    </div>
                    <div class="card-text mb-4">
                        <input type="checkbox" id="premium" class = "chk" name="check_box1" value="Premium">
                        <label for="check_box1" >Premium membership:15.99/Month</label>
                        </div>
                
                    <div id="change" style="display:none ;">
                        <button type="submit" class="btn " id="button_click" >Change membership</button> 
                    </div>
                   
                </form>
                <p>* Your eligibility depends on your repay history, cash flow and income </p>
                </div>
            
             
            </div>
            
        </div>
        <div class="col-sm-6 mt-5">
            <div class="box">
                <h4 class="text-center text-success"><a  href="{% url 'subscription_details' %}"><i class="fa fa-hand-o-right">Subscription Help</i></a></h1>
                <ul  class='h5'style="display: table; margin: 0 auto;"><li class="mt-3">Easy to upgrade !</li>
                    <li class="mt-3">Monthly subscription ! </li>
                    <li class="mt-3">You can cancel it ! </li>
                
                <button class="btn mt-3 mb-3" id="cancel1" onclick="cancel1()">Cancel membership</button></ul>
                <p>* if you cancel the membership,the membership changed to free subscription.</p>
            </div>
        </div>
      </div>
    </div></div>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script type="text/javascript">
        $(document).ready(function () 
                {
                   
                    let inputElements = document.getElementsByClassName('chk');
                    //  alert(inputElements.length)
                    for(var i=0; inputElements[i]; ++i){
                        // alert(inputElements[i].value)
                        if(inputElements[i].value === $('#membership').val()){
                            // alert(inputElements[i].value)
                            inputElements[i].checked= "checked"
                           
                        }      
                }
                });
              $("input[type='checkbox'].chk").change(function()
        {
                $(".chk").prop('checked', false);
                $(this).prop('checked', true);
                value=$('.chk:checked').val();
                membership=$('#membership').val();
                if (value===membership){document.getElementById('change').style.display='none';}
                else{document.getElementById('change').style.display='block';}
                // document.getElementById('change').style.display='block';
                 
        });
        $("#button_click").click(function() {
                    
                    var a = $("input[type='checkbox'].chk");
                    let checked=a.filter(":checked").length
                    // alert(checked)
                    if((checked > 1) || (checked < 1))
                    {
                        swalalert("You need to select one membership");
                        $('#form1').submit(false);
                    }
                    $('#form1').submit(true);
                    
                });
                function cancel1() {
                    Swal.fire({  
                        title: 'Do you want to cancel membership?',  
                        showDenyButton: true,  showCancelButton: true,  
                        confirmButtonText: `yes`,  
                        // denyButtonText: `Don't save`,
                        }).then((result) => {  
                            /* Read more about isConfirmed, isDenied below */  
                            if (result.isConfirmed) {    
                                Swal.fire('canceled!', '', 'success') 
                                window.location.href="{% url 'cancelmembership' %}"
                            } else if (result.isDenied) {    
                                // Swal.fire('Changes are not saved', '', 'info')  
                            }
                        });
};
function swalalert(text){
  
  Swal.fire({
  // title: 'warning!',
  text: text,
  customClass: 'swal-wide',
  confirmButtonText: 'ok',
  showCancelButton: true,
 
  });
}
       
</script>

{%endblock %}