{% extends "user_base.html" %}
{%load static %}
{% load userfilter %}

{% block body %}

    <div class="container h-100"> 
        <div class="row">
        
        <div class="col-lg-12 mt-5">
            <div class="box">
                <h4 class="text-center text-success">Subscription Help</h1>
                <ul  style="display: table; margin: 0 auto;"><li class="mt-3"><b>Basic membership: 9.99/month:</b> Sugan will gap the shortage of your bill up to $300 with a guaranteed minimum of $50 when you meet our income deposit criteria.</li>
                    <li class="mt-3"><b>Premium membership: 15.99/month:</b> Sugan will gap the shortage of your bill up to $1000 with a guaranteed minimum of $200 when you meet our income deposit criteria. </li>
                    <li class="mt-3">Members can upgrade, downgrade and cancel their memberships at any time.   </li>
                    <li class="mt-3">When the membership status changes from basic to plus membership, the unused portion of the month will be refunded. The new status will start at the time pf the change. For example, a customer signed up the basic membership on Aug 5th, and he upgraded his membership on Aug 12th, so he used 7 days of his basic membership. The refund will be 6.99 * (1-7/30). </li>
                    <li class="mt-3">If a member cancels his/her membership, there will be no refund for this month, but the membership will last until it expires that month.</li>
                    <li class="mt-3">If a premium member chooses to downgrade his/her membership, the new basic membership won’t start until it expires next month, thus there is no refund in this scenario. </li>  
                </ul>
                    <a class="btn btn-success" href="{% url 'subscription' %}" style="border-radius: 4px;float:right;">Close</a>
            </div>
        </div>

      </div>
    </div>
        

{%endblock %}